.advertisement-three-wrapper {
    // width: 100% !important;
    // height: 5rem !important;
    
    background-image: url('../../../../../public/advertisement/advertisement-three.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  