.profile-bg {
  background: url('../../../../../public/seller_profile/profile-bg.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100% !important;
  height: 300px !important;
}
.divider {
  background-color: rgb(132, 132, 132);
  width: .5px;
  height: 5.5rem;
  margin: 0 1.5rem;
}

.custom-progress-bar {
  background-color: #2C6FF4 !important;
}